.heading-buttons
  %br
  %br
  %h5
    Hi 
    = @sender 
    ,
    = @question 
  .clearfix

%br
.innerLR
  = form_for :sender_detail, :url => {:controller => "reply", :action => "submit_answer", :method => "post" } do |f|

    .widget.widget-tabs
      .widget-body
        .tab-content
          #productDescriptionTab.tab-pane.active

            // Listener
            .row-fluid
              .span3
                %p.muted Please say something nice about him
              .span9
                %label{:for => "inputTitle"} Reply
                = f.text_field :reply, placeholder: "Type a short message for " + @listener.first_name + " here", required: true 

                // Sender
                = f.hidden_field :id, value: @sender_detail.id
                .separator
            %hr.separator.bottom/

      .heading-buttons
        .buttons.pull-right{:style => "margin: 0;"}
          = f.submit "Send", :class => "btn btn-primary btn-icon glyphicons ok_2"

%br
%br
