<!DOCTYPE html>

<head>
	<title>Login to BOO</title>
	
	<!-- Meta -->
	<meta charset="UTF-8" />

</head>
<body class="login">
	
	<!-- Wrapper -->
<div id="login">

	<!-- Box -->
	<div class="form-signin">
		<h3>Sign in to Your Account</h3>
		
		<!-- Row -->
		<div class="row-fluid row-merge">
		
			<!-- Column -->
			<div class="span7">
				<div class="inner">
				
					<!-- Form -->
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<form method="post" action="index.html?lang=en&amp;layout_type=fixed&amp;menu_position=menu-left&amp;style=style-dark">
						<label class="strong">Username or Email</label>
						<%= f.email_field :email, autofocus: true, class: "input-block-level", placeholder: "Your Username or Email address" %>
						
						<label class="strong">Password </label>
						<%= f.password_field :password, class: "input-block-level", placeholder: "Your Password" , autocomplete: "off" %>
						
						<% if devise_mapping.rememberable? -%>
                        <div class="uniformjs">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                        </div>
						<%end%>
						<div class="row-fluid">
							
							<div class="span5 center actions">
    							<%= f.submit "Log in", class: "btn btn-block btn-primary signinbutton" %>
  							</div>
  							<br>
  							<br>
  							<%= render "devise/shared/links" %>
							
						</div>
					<%end%>
					</form>
					<!-- // Form END -->
					
				</div>
			</div>
			<!-- // Column END -->
			
			
		</div>
		<!-- // Row END -->
		
		<div class="ribbon-wrapper"><div class="ribbon primary">members</div></div>
	</div>
	<!-- // Box END -->
	
</div>
<!-- // Wrapper END -->	

</body>
</html>
