/ Breadcrumb
%ul.breadcrumb
  %li
    %i
      Question 
  %li.divider
  %li Detail
.separator.bottom
/ // Breadcrumb END
.innerLR
  .widget
    .widget-head
      %h5 Detail of the Question
    .widget-body
      %table.dynamicTable.table.table-striped.table-bordered.table-condensed
        / Table heading
        %thead
          %tr
        / // Table heading END
        / Table body
        %tbody
          %tr
            %td= "Question"
            %td= ""
            %td= @email.question
            %td= ""
            %td= @email.created_at
            %td= ""
          %tr
            %td= ""
            %td= "Questioner"
            %td= User.where(:id => @email.questioner_id).first.try(:username)
            %td= ""
            %td= ""
            %td= ""
          %tr
            %td= ""
            %td= "Listener"
            %td= EmailSender.where(:id => @email.listener_id).first.try(:first_name)
            %td= ""
            %td= ""
            %td= ""
          %tr
            %td= ""
            %td= "Senders"
            %td= ""
            %td= ""
            %td= ""
            %td= ""
          - @senders.each do |sender|
            %tr
              %td= ""
              %td= ""
              %td= sender.email
              %td= SenderDetail.where(:user_id => sender.id).first.try(:reply)
              %td= SenderDetail.where(:user_id => sender.id).first.try(:reply_time)
              %td= ""